/* Google Fonts @import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

/* Bootstrap Icons @import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Fonts */
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* General CSS */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
body {
    margin: 0;
}

main {
    margin: 0 32px;
    padding-top: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 8px 32px;
    border-bottom: 1px solid #aaa;
}

#header-links a {
    display: inline-flex;
    color: #333;
    padding: 6px 4px;
    text-decoration: none;
}

#header-links a:hover {
    color: #ff2c7b;
}

.inner-header {
    display: flex;
    justify-content: space-between;
}

#movie-grid {
    display: flex;
    column-gap: 16px;
}

/* Movie Management page */
#content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

#content-section table {
    padding: 16px 16px;
    
    border-collapse: collapse;
    text-align: center;
    width: 66%;
}

#content-section th {
    border-bottom: 1px solid #333;
}

#content-section td {
    border-bottom: 1px solid #aaa;
}

#content-section th,
#content-section td {
    padding: 8px 16px;
}

#content-section .movie-info {
    background-color: inherit;

    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

#content-section .movie-info:hover {
    background-color: #eee;
}

#content-section .movie-info .operations-list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
#content-section .movie-info .operations-list form {
    width: fit-content;
}

#content-section form {
    width: 33%;
}

#content-section form div {
    width: 100%;

    margin-bottom: 12px;
}

#content-section form div label {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

#content-section form div input {
    border: 1px solid #333;
    border-radius: 4px;

    padding: 6px 10px;
    font-size: 14px;

    width: 100%;

    font-family: inherit;
}

#content-section form div input:focus {
    outline: none;
    border: 1px solid #ff2c7b;
}

.btn {
    display: inline-flex;
    align-self: center;
    
    font-size: 16px;
    text-decoration: none;
    color: #ff2173;

    padding: 6px 10px;
    outline: 2px solid #ff2c7b;
    border: none;
    border-radius: 4px;

    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #ff2c7b;

    outline: 2px solid #ff2c7b;
}

.btn-submit {
    display: inline-flex;
    background: inherit;
    color: inherit;

    padding: 6px 10px;
    margin-left: 4px;
    outline: 2px solid green;
    border: none;
    border-radius: 4px;

    font-family: inherit;
    font-size: inherit;

    cursor: pointer;
}

.btn-submit:hover {
    background-color: green;
    color: #fff;
}

.btn-cancel {
    display: inline-flex;
    align-self: center;
    
    text-decoration: none;
    color: inherit;
    
    padding: 6px 10px;
    outline: 2px solid #aaa;
    border: none;
    border-radius: 4px;
    
    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

.btn-cancel:hover {
    color: #fff;
    background-color: #aaa;
    
    outline: 2px solid #aaa;
}

.btn-edit {
    display: inline-flex;
    align-self: center;
    
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    
    padding: 8px 10px;
    outline: 2px solid #e9ca1b;
    border: none;
    border-radius: 4px;
    
    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

.btn-edit:hover {
    background-color: #e9ca1b;
}

.btn-delete {
    display: inline-flex;
    align-self: center;
    
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    
    padding: 8px 10px;
    outline: 2px solid #e91b1b;
    border: none;
    border-radius: 4px;
    
    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

.btn-delete:hover {
    background-color: #e91b1b;
    color: #fff;
}

a > p,
button > p {
    margin-left: 6px
}

/* Ticketing page */
div.movie-card {
    width: fit-content;
    text-align: center;

    background-color: #f1f1f1;

    border: #888 solid 1px;
    border-radius: 8px;

    padding: 12px;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

div.movie-card:hover {
    scale: 103%;
}

div.movie-card img {
    width: 240px;
    border-radius: 4px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive CSS queries */
@media screen and (max-width: 767px) {
    main {
        margin: 0 8px;
    }

    #content-section table {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    #content-section table {
        width: 90%;
    }
}

/*
* Remove arrows from input of type number 
* Source: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}