/* Google Fonts @import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

/* Bootstrap Icons @import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Fonts */
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* General CSS */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
body {
    margin: 0;
}

button {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
}

main {
    margin: 0 32px;
    padding-top: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 32px;
    border-bottom: 1px solid #aaa;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.banner {
    border-radius: 10px;
    width: 95%;
}

#header-links {
    display: inline-flex;
    gap: 8px;
}

#header-links a.link {
    display: inline-flex;
    color: #333;
    padding: 6px 4px;
    text-decoration: none;
}

#header-links a.link:hover {
    color: #ff2c7b;
}

#header-links a.active {
    color: #ff2c7b;
    border-bottom: 2px solid #ff2c7b;
}

#header-links #user-dropdown-btn {
    cursor: pointer;
    column-gap: 6px;
}

#header-links #user-dropdown-menu {
    visibility: hidden;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;

    padding: 6px 10px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;

    -webkit-box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.36);

    translate: -20% 50%;
}
#header-links #user-dropdown-menu hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid #aaa;
}

#header-links #auth-btn {
    display: inline-flex;
    column-gap: 12px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
}

/* Movie Management page */
#content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

#content-section table {
    padding: 16px 16px;

    border-collapse: collapse;
    text-align: center;
    width: 66%;
}

#content-section th {
    border-bottom: 1px solid #333;
}

#content-section td {
    border-bottom: 1px solid #aaa;
}

#content-section th,
#content-section td {
    padding: 8px 16px;
}

#content-section .movie-info {
    background-color: inherit;

    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

#content-section .movie-info:hover {
    background-color: #eee;
}

#content-section .movie-info .operations-list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
#content-section .movie-info .operations-list form {
    width: fit-content;
}

#content-section form {
    width: 33%;
}

#content-section form div {
    width: 100%;

    margin-bottom: 12px;
}

#content-section form div label {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

#content-section form div input {
    border: 1px solid #333;
    border-radius: 4px;

    padding: 6px 10px;
    font-size: 14px;
    box-sizing: border-box;

    width: 100%;

    font-family: inherit;
}

#content-section form div select {
    border: 1px solid #333;
    border-radius: 4px;

    background-color: inherit;

    padding: 6px 10px;
    font-size: 14px;

    width: 100%;

    font-family: inherit;
}

#content-section form div select:disabled,
#content-section form div input:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#content-section form div input:focus,
#content-section form div select:focus {
    outline: none;
    border: 1px solid #ff2c7b;
}

.btn,
.btn-edit,
.btn-cancel,
.btn-delete,
.btn-submit,
.btn-visible {
    display: inline-flex;
    align-self: center;

    font-size: 16px;
    text-decoration: none;

    padding: 6px 10px;
    outline: 2px solid;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: all;
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
}

.btn {
    color: #ff2173;
    outline-color: #ff2c7b;
}

.btn:hover {
    color: #fff;
    background-color: #ff2c7b;
    outline-color: #ff2c7b;
}

.btn-submit {
    margin-left: 4px;
    outline-color: green;

    font-family: inherit;
}

.btn-submit:hover {
    background-color: green;
    color: #fff;
}

.btn-cancel {
    color: inherit;

    outline-color: #aaa;
}

.btn-cancel:hover {
    color: #fff;
    background-color: #aaa;
}

.btn-edit {
    outline-color: #e9ca1b;
}

.btn-edit:hover {
    background-color: #e9ca1b;
}

.btn-delete {
    outline-color: #e91b1b;
}

.btn-delete:hover {
    background-color: #e91b1b;
    color: #fff;
}

.btn-delete:disabled {
    background-color: #eee;
    color: #999;
    outline-color: #cf4d4d;

    cursor: not-allowed;
}

.btn-visible {
    outline-color: #1b8ce9;
}

.btn-visible:hover {
    background-color: #1b8ce9;
    color: #fff;
}

a > p,
button > p {
    margin-left: 6px;
}

/* Main page */
#movie-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: -96px;
}

#movie-grid .admin-messages {
    background-color: #99f0e1;

    border: 3px solid #1cc9cc;
    border-radius: 8px;
    padding: 12px 16px;

    user-select: none;
}

#movie-grid .admin-messages .admin-head {
    display: flex;
    align-items: center;
    gap: 6px;

    color: #117e80;

    font-size: 14px;

    margin-bottom: 8px;
}
#movie-grid .admin-messages .admin-head i {
    font-size: 16px;
}

.movie-card {
    width: fit-content;
    text-align: center;
    text-decoration: none;

    color: inherit;
    background-color: #f1f1f1;

    border: #888 solid 1px;
    border-radius: 8px;

    padding: 12px;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.movie-card:hover {
    scale: 103%;
}

.movie-card img {
    width: 240px;
    border-radius: 4px;
}

/* Tickets page */
#tickets-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

#movie-info {
    width: fit-content;
    text-align: center;
    text-decoration: none;

    color: inherit;

    padding: 12px;
}

#movie-info img {
    width: 240px;
    border-radius: 4px;
}

#tickets-grid form.seat-row-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

#tickets-grid form.seat-row-form div {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 2px;
}
#tickets-grid form.seat-row-form input[type="checkbox"] {
    width: 28px;
    height: 28px;
    accent-color: #ff2c7b;
}

#tickets-grid form.seat-row-form .form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;

    font-size: 13px;
    width: 100%;

    margin-top: 8px;
}

#tickets-grid form.seat-row-form .form-bottom .form-actions {
    margin-right: 10px;
}
#tickets-grid form.seat-row-form .form-bottom .seat-legend {
    display: flex;
    gap: 8px;
}
#tickets-grid
    form.seat-row-form
    .form-bottom
    .seat-legend
    input[type="checkbox"] {
    width: 16px;
    height: 16px;
    pointer-events: none;
}

#tickets-grid form.seat-row-form .form-bottom .seat-legend p {
    font-size: 16px;
}

#tickets-grid form.seat-row-form .confirmation-input {
    pointer-events: none;
}

#tickets-grid form.confirmation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#tickets-grid form.confirmation-form h3 {
    font-size: 24px;
}

#tickets-grid form.confirmation-form .seats-list {
    margin-bottom: 6px;
    font-size: 18px;
}

footer {
    position: absolute;
    bottom: 16px;
    right: 0;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: start;
    gap: 16px;

    background-color: #dd4c93;
    padding: 8px;
    border-radius: 9999px 0 0 9999px;

    overflow: hidden;

    transition: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
}

footer:hover {
    width: 308px;

    transition: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

footer div {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    transition: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

footer div:hover {
    background-color: #b13d75;
    border-radius: 9999px;

    transition: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

footer div a {
    color: #fff;
    font-weight: bold;
    padding-right: 8px;

    width: 90px;

    user-select: none;
    text-decoration: none;
}

footer img {
    width: 40px;
    height: 40px;

    border-radius: 9999px;
}

/* Responsive CSS queries */
@media screen and (max-width: 767px) {
    main {
        margin: 0px 12px;
    }

    header {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    #header-links #user-dropdown-menu {
        translate: -5% 75%;
    }

    #content-section {
        margin-top: 12px;
    }

    #content-section table {
        width: 100%;
    }

    #content-section form {
        width: 75%;
    }

    .btn,
    .btn-edit,
    .btn-cancel,
    .btn-delete,
    .btn-submit,
    .btn-visible {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    #content-section table {
        width: 90%;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
